.resume-button a {

  display: block;
  width: 189px;
  height: 56px;
  font-size: 50px;
  font-family: Nomad;
  text-decoration: none;
  color: #1E1E1E;
  border: 3px solid #1E1E1E;
  border-radius: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  padding-top: 14px;

  margin-right: 100px;
}

.resume-button a span {
    position: relative;
    z-index: 2;
}

.resume-button a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #FC354C;
    transition: all .35s;
}

.resume-button a:hover {
    color: #EEDFC2;
}

.resume-button a:hover:after {
    width: 100%;
}
.resume-button a:active::after{
    background: #e12c41;
}

.resume-button a:active{
    transform: scale(0.98);
}

.rotatingText {
  position: absolute;
  top: 43%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 8;
  width: 500px;
  font-size: 18px;
  text-align: center;
  color: white;

  animation: slide-text 1s ease forwards;
  animation-delay: 2.8s;
}

.rotatingText-adjective {
  font-family: Nomad;
  font-size: 100px;
  font-style: normal;
  left: 0;
  margin-bottom: 0;
  margin-top: 50px;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  
}

.rotatingText-adjective:nth-of-type(1) {
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-delay: 0.2s;
}

.rotatingText-adjective:nth-of-type(2) {
  animation-name: rotate;
  animation-duration: 1.2s;
  animation-delay: 1.45s;
}

.rotatingText-adjective:nth-of-type(3) {
  animation-name: rotate-last;
  animation-duration: 1.2s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  
  20%, 80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  100% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
}

@keyframes rotate-last {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  
  50%, 80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  99%{
    opacity: 0;
  }
  100%{
    display: none;
  }
}

.open-animation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  z-index: 4;

  animation: hide 2.5s ease forwards;
  animation-delay: 2.8s;
}

.open-animation .s-1{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #e12c41;
  z-index: 4;
  animation: slide-1 1.4s ease forwards;
  animation-delay: 2.8s;
}

.open-animation .s-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0ABFBC;
  z-index: 5;
  animation: slide-1 1.2s ease forwards;
  animation-delay: 2.8s;
}

.open-animation .s-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1E1E1E;
  z-index: 6;
  
  animation: slide-1 1s ease forwards;
  animation-delay: 2.8s;
}

@keyframes slide-1 {
  0% {
      left: 0%;
    }
  
    99% {
      left: 100%; 
      
    }
    100%{
      display: none;
    }
}

@keyframes slide-text {
  0% {
    left: 51%;
  }

  100% {
    left: 120%;
    display: none;
  }
}

@keyframes hide {
  0% {
    z-index: 4;
  }

  100% {
    z-index: 0;
    
  }
}


.wrapper {
  max-width: 100%;
  overflow: hidden;
  background-color: #1E1E1E;
}

.more-info-loop {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 15s linear infinite forwards;
}

.more-info-loop:hover{
  animation-play-state: paused;
}

.more-info-loop p {
  display: inline-block;
}

.more-info-loop .linkedin{
  font-family: MuseoModerno-light;
}

.more-info-loop .xplace {
  font-family: MuseoModerno-thin;
}

.more-info-loop p{
  font-family: MuseoModerno;
  font-size: 50px;
  color: white;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-50%, 0, 0);
  }
}


.info-loop-section{
  display: flex;
  flex-direction: column;
  margin-top: -30px;
}

.info-loop-section .find{
  margin-left: 100px;
  font-size: 20px;
  font-family: MuseoModerno;
  color: #1E1E1E;
}