@media screen and (max-width: 1000px) {

    html{
        animation: none;
    }

    .resume-button a {
        width: 150px;
        height: 44px;
        font-size: 40px;

        margin-right: 20px;
    }

    .top-section .date-section .date {
        margin-left: 20px;

        .day{
            font-size: 50px;
            margin-bottom: -5px;
        }

        .month{
            font-size: 40px;
        }
    }

    .main-section .name-sction .part-1 .name {
        text-align: center;
        margin: 0;
        font-size: 20vw;
        margin: 0 20px;
    }

    .main-section .name-sction .part-2{
        height: 25%;
        align-items: center;
        padding: 10px 0;
    }

    .main-section .name-sction .part-1{
        height: 40%;
        align-items: center;
        justify-content: center;
    }

    .main-section .name-sction .part-2 .proff {
        text-align: center;
        margin: 0;
        font-size: 35px;
        padding-top: 30px;
    }

    .main-section .name-sction .part-2 .contact-icons{
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-section .top-section{
        height: 20%;
        margin-bottom: 15px;
    }

    .rotatingText-adjective {
        font-size: 50px;
    }

    .rotatingText-adjective:nth-of-type(3) {
        animation-duration: 0.7s;
    }

    .name-sction{
        height: 700px !important;
    }

    .portfolio-section .project-sections{
        align-items: flex-start;
        width: fit-content;
    }
    .portfolio-section .project-sections .project-section{
        width: 30%;
    }

    .info-loop-section{
        display: none;
    }

    .rotatingText{
        display: none;
    }

    .open-animation{
        display: none;
    }

    .main-section .name-sction{
        animation: none;
    }
}

@media screen and (max-width: 1307px) {
    .name-sction .nav-bar {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .project-sections .project-section .project-name {
        font-size: 15px !important;
        transition: 0.3s;
    }

    .contact-me-section{
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    .date-section{
        width: 50vw !important;
    }
}
